<%= partial "layouts/navbar" %>

<div id="container-annimation">
  <div id="grid-annimation">
    <div id="image-annimation-1">
      <h1>DIM SUM</h1>
      <p>Nos dim sum son t prepares aves;ohie rfd fdh  rth gd ffg h jhdr gf  ghjetrj thrhet rjy</p>
    </div>
    <div id="image-annimation-2">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-3">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-4">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-5">
      <h1>SUSHI</h1>
      <p>Nos dim sum son t prepares aves;ohie rfd fdh  rth gd ffg h jhdr gf  ghjetrj thrhet rjy</p>
    </div>
    <div id="image-annimation-6">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-7">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-8">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-9">
      <h1>JUS DE FRUITS</h1>
      <p>Nos dim sum son t prepares aves;ohie rfd fdh  rth gd ffg h jhdr gf  ghjetrj thrhet rjy</p>
    </div>
  </div>
</div>

