<%= partial "layouts/navbar" %>

<div id="container-annimation">
  <div id="grid-annimation">
    <div id="image-annimation-1">
      <h1>DIM SUM</h1>
      <p>Le  DIM  SUM  est  une  petite  bouchée  cuite  à  la  vapeur  dans  un  panier  en  bambou.  Toutes  nos  bouchées  sont  préparées  par  notre  chef  à  base  de  produits  frais  et  nos  cuissons  effectuées  devant  vos  convives  sur  nos  carrioles  revisitées  ou  nos  meubles  de  cuisson.</p>
    </div>
    <div id="image-annimation-2">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-3">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-4">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-5">
      <h1>SUSHI</h1>
      <p>Notre  sushiman  créera  des  makis,  sushis  et  rolls  devant  vos  invités.</p>
    </div>
    <div id="image-annimation-6">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-7">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-8">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-9">
      <h1>BAR À JUS</h1>
      <p>Un  Must  pour  vos  petits  déjeuners.  Nos  fruits  bio  sont  extraits  directement  sur  votre  événement  pour  un  maximum  de  fraicheur.</p>
    </div>
  </div>
</div>

