<%= partial "layouts/navbar" %>
<div class="main-container">
  <div id="home-social-sticky">
    <a href="tel:0676272831">
      <img id="icon-phone" src="<%= image_path 'icon-phone.png' %>" style="">
    </a>
    <a href="https://www.instagram.com/vapeursdimsum/?hl=fr">
      <img id="icon-insta" src="<%= image_path 'icon-insta.png' %>" style="">
    </a>

  <a href="https://www.facebook.com/vapeursdimsum/">
    <img id="icon-facebook" src="<%= image_path 'icon-facebook.png' %>" style="">
  </a>
  </div>
  <div id="wrapper">
  </div>
<!--  -->
  <div id="section" style="background-image: linear-gradient(to top, rgba(100,100,100,1), rgba(0,0,0,1));">
    <div id="background">
      <img id="image" src="<%= image_path 'concept.jpg' %>">
    </div>
    <section id="banner-container-content">
      <h1>DECOUVREZ LE CONCEPT</h1>
      <img class="logo-size-responsive" src="<%= image_path 'logo.png' %>">
      <a href="/contact.html" id="devis-btn" style="">RÉSERVER MAINTENANT</a>
    </section>
  </div>
  <div id="container-concept">
    <div id="grid-concept">
      <div id="image-concept-1">
        <img id="image-concept" src="<%= image_path 'dimsum.jpg' %>">
      </div>
      <div id="image-concept-2">
        <h1>Traiteur asiatique</h1>
        <p> Initialement  lancé  avec  ses  carrioles  dédiées  aux  Dim  Sum,  nos  équipes  ont  élaboré  pour  vous  de  nouvelles  piéces  dans  la  plus  pur  des  traditions  asiatiques.</p>
      </div>
      <div id="image-concept-3">
        <img id="image-concept" src="<%= image_path 'dimsumbowl.jpg' %>">
      </div>
      <div id="image-concept-4">
        <h1>Des plats sains</h1>
        <p> Vapeurs  ce  sont  des  plats  sains  et  équilibrés.  Nous  respectons  les  saisons  et  nos  cuissons  sont  le  plus  souvent  réalisées  à  la  Vapeur  pour  garder  tous  les  bienfaits  de  nos  produits.</p>
      </div>
      <div id="image-concept-5">
        <img id="image-concept" src="<%= image_path 'dimsumtraiteur.jpg' %>">
      </div>
      <div id="image-concept-6">
        <img id="image-concept" src="<%= image_path 'saladefruits.jpg' %>">
      </div>
      <div id="image-concept-7">
        <h1>Des plats sains</h1>
        <p> Notre  savoir-faire  nous  permet  d’adapté  votre  cuisine  asiatique  préféré  à  tous  vos  évènements  et  de  répondre  à  toutes  vos  envies  les  plus  folles.</p>
      </div>
      <div id="image-concept-8">
        <img id="image-concept" src="<%= image_path 'traiteur.jpg' %>">
      </div>
    </div>
  </div>
</div>
