<%= partial "layouts/navbar" %>

<div class="main-container">
  <div id="home-social-sticky">
    <img id="icon-phone" src="<%= image_path 'icon-phone.png' %>" style="">
    <img id="icon-insta" src="<%= image_path 'icon-insta.png' %>" style="">
    <img id="icon-facebook" src="<%= image_path 'icon-facebook.png' %>" style="">
  </div>
  <div id="wrapper">
    <img class="banner" src="<%= image_path 'carriole.jpg' %>" style="">
    <div class="concept-content">
      <h1>LE CONCEPT</h1>
      <a href="/concept.html" class="btn btn-default">EN SAVOIR PLUS</a>
    </div>
  </div>
  <div id="home-container-concept">
    <div class="home-sub-container">
      <div class="home-sub-container-content">
        <p>Annimation</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
        <a href="/services.html" class="btn btn-default">EN SAVOIR PLUS</a>
      </div>
      <img class="home-sub-container-image" src="<%= image_path 'carriole.jpg' %>" style="">
    </div>
    <div class="home-sub-container">
      <img class="home-sub-container-image" src="<%= image_path 'carriole.jpg' %>" style="">
      <div class="home-sub-container-content">
        <p>Traiteur</p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
        <a href="/concept.html" class="btn btn-default">EN SAVOIR PLUS</a>
      </div>
    </div>
</div>

