<%= partial "layouts/navbar" %>

<div id="container-annimation">
  <div id="grid-annimation">
    <div id="image-annimation-1">
      <h1>FINGER FOOD</h1>
      <p>Des  pièces  cocktails  inspirées  de  la  cuisine  Asiatiques  revisités  par  nos  soins.</p>
    </div>
    <div id="image-annimation-2">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-3">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-4">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-5">
      <h1>CATERING</h1>
      <p>Gestion  complète  de  vos  déjeuner  lors  de  vos  salons,  journées  presse,  ventes..  Nous  nous  adaptons  à  toutes  vos  problématiques.</p>
    </div>
    <div id="image-annimation-6">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-7">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-8">
      <img id="image-annimation" src="<%= image_path 'home.jpg' %>">
    </div>
    <div id="image-annimation-9">
      <h1>BAR</h1>
      <p> Bar  à  cocktails,  sélections  de  vins  et  champagnes,  jus  de  fruits  frais,  nous  nous  occupons  de  toutes  vos  boissons  lors  de  événements.</p>
    </div>
  </div>
</div>

